.cute-hound img {
  width: 75%;
}

h2 {
  font-family: 'Century Gothic';
  font-weight: 400;
  font-size: 3rem;
  font-weight: bold;
} 

.name-font {
  font-family: 'Century Gothic';
  font-size: 1rem;
}

